body {
    background-image: url('zoo5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 80vh;
}

.create-animal-container {
    width: 40%;
    min-height: calc(80vh - 40px);
    margin: 60px 380px;
    padding: 20px;
    background-color: rgba(245, 242, 242, 0.482);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-animal-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #7c5656;
    font-family: 'Georgia', serif;
}

.create-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-animal-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.create-animal-form-group label {
    width: 40%;
    text-align: left;
    font-weight: bold;
    font-size: 1.6rem;
    -webkit-text-fill-color: #4a2d2d;
}

.create-animal-form-group input {
    width: 75%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
}

.create-animal-button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.create-animal-submit-button,
.create-animal-back-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    text-align: center;
}

.create-animal-submit-button {
    background-color: #5a852f;
    color: white;
    border: 1px solid #000000;
}

.create-animal-submit-button:hover {
    background-color: #86c249;
}

.create-animal-back-button {
    background-color: #da4131;
    color: white;
    border: 1px solid #000000;
}

.create-animal-back-button:hover {
    background-color: #da4131;
}

/* Estilo del Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.modal button {
    padding: 10px 20px;
    background-color: #5a852f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #86c249;
}
