.create-animal-container {
    width: 50%;
    min-height: calc(100vh - 60px);
    margin: auto;
    padding: 30px;
    background-color: #e6f7ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-animal-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #2b3d4f;
    font-family: 'Georgia', serif;
}

.create-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-animal-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.create-animal-form-group label {
    width: 40%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: #34495e;
}

.create-animal-form-group input {
    width: 75%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-animal-button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.create-animal-submit-button,
.create-animal-back-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%; /* Ajuste el ancho para coincidir con los botones de Delete */
    text-align: center;
}

.create-animal-submit-button {
    background-color: #3498db;
    color: white;
}

.create-animal-submit-button:hover {
    background-color: #2980b9;
}

.create-animal-back-button {
    background-color: #e74c3c;
    color: white;
}

.create-animal-back-button:hover {
    background-color: #c0392b;
}
