/* DeleteAnimalPage.css */
.delete-animal-container {
    width: 40%;
    min-height: calc(80vh - 40px);
    margin: 60px auto;
    padding: 20px;
    background-color: rgba(245, 242, 242, 0.482);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-animal-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    color: #7c5656;
    font-family: 'Georgia', serif;
}

.delete-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-group input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
}

.form-group input[type="checkbox"] {
    margin-left: 10px;
}

.delete-animal-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.delete-animal-search-button,
.delete-animal-delete-button,
.delete-animal-back-button {
    flex: 1;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
}

.delete-animal-search-button {
    background-color: #5a852f;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
}

.delete-animal-search-button:hover {
    background-color: #4a6f26;
}

.delete-animal-delete-button {
    background-color: #da4131;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
}

.delete-animal-delete-button:hover {
    background-color: #b33729;
}

.delete-animal-back-button {
    background-color: #b33729;
    color: white;
}

.delete-animal-back-button:hover {
    background-color: #b33729;
}

.animal-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.animal-details h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.animal-details p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
    margin-bottom: 20px;
}



.result-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

