.delete-animal-container {
    width: 50%;
    min-height: calc(100vh - 60px);
    margin: auto;
    padding: 30px;
    background-image: url('Container.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000000;
}

.delete-animal-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #5654d4; /* Color del título */
    font-family: 'Georgia', serif;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
}

.delete-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-animal-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.delete-animal-form-group input[type="checkbox"] {
    margin-right: 10px; /* Ajusta el espacio entre la checkbox y el texto */
}

.delete-animal-form-group label {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
}

.delete-animal-form-group input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
}

.delete-animal-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.delete-animal-search-button,
.delete-animal-delete-button,
.delete-animal-back-button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; /* Permite que los botones tengan el mismo ancho */
    text-align: center;
}

.delete-animal-search-button {
    background-color: #3498db;
    color: white;
    border: 1px solid #000000;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
}

.delete-animal-search-button:hover {
    background-color: #2980b9;
}

.delete-animal-delete-button {
    background-color: #e74c3c; 
    color: white;
    border: 1px solid #000000;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
}

.delete-animal-delete-button:hover {
    background-color: #c0392b;
}

.delete-animal-back-button {
    background-color: #e74c3c; 
    color: white;
    border: 1px solid #000000;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
}

.delete-animal-back-button:hover {
    background-color: #c0392b;
}
