
.home-title {
    
    font-size: 5.5rem; /* Aumenta el tamaño de la fuente */
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;


    -webkit-text-stroke: 2px #4a2d2d; /* Borde negro de 2px */
    -webkit-text-fill-color: #d9e4e9; /* Color del texto */
    font-family: 'Cinzel', serif; /* Fuente estilizada (puedes cambiarla) */
    /*background-color: white;
    /*background: linear-gradient(90deg, #2980b9, #8e44ad); /* Degradado en el texto */
    /*-webkit-background-clip: text; /* Solo colorea el texto con el degradado */
    /*-webkit-text-fill-color: transparent; /* Hace que el fondo sea transparente */
    /*letter-spacing: 2px; /* Espaciado entre letras */
    
}
.home-container {
    background-image: url('zoo3.jpg');
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.button-container {
    display: flex; /* Alineación horizontal */
   flex-wrap: wrap; /* Asegura que los botones se muevan a la siguiente línea si es necesario */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espaciado uniforme entre los botones */
    margin: 4rem;
    margin-top: 20px;
    
}

.action-button {
    border: 1px solid #000000;
    display: inline-block;
    margin: 3px 10px;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #000000;
    
    background-color: rgba(247, 237, 237, 0.5);

    /*background-size: cover; /* Hace que la imagen cubra todo el fondo */
    /*background-repeat: no-repeat; /* Evita que la imagen se repita */
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    width: 140px;
    height: 280px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Para alinear contenido verticalmente */
    justify-content: center;
    align-items: center;
}

.action-button:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px);
}

.action-button:active {
    transform: translateY(2px);
}

.action-button .button-image { 
    width: 140px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; 
    margin-bottom: 10px; /* Espaciado con el texto inferior */ 

}
.action-button .button-image2 { 
    width: 125px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; 
    margin-bottom: 10px; /* Espaciado con el texto inferior */ 

}
.action-button .button-text {
    font-size: 2rem; /* Tamaño grande para la inicial */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espaciado con el texto inferior */
    color: #4a2d2d; /* Color destacado */
}
 