.read-container {
    width: 50%;
    min-height: calc(100vh - 60px);
    margin: auto;
    padding: 30px;
    background-image: url('Container.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000000;
}

.read-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #5654d4;
    font-family: 'Georgia', serif;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
}

.read-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* Espacio entre el checkbox y los demás elementos */
    width: 100%;
}

.form-group input[type="checkbox"] {
    margin: 0; /* Asegura que no haya márgenes adicionales */
    order: -1; /* Mueve el checkbox al inicio */
}


.form-group label {
    width: 50%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
}

.form-group input[type="text"],
.form-group input[type="date"] {
    flex-grow: 2;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.read-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.read-search-button,
.read-back-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    text-align: center;
}

.read-search-button {
    background-color: #3498db;
    color: white;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
    border: 1px solid #000000;
}

.read-search-button:hover {
    background-color: #2980b9;
    
}

.read-back-button {
    background-color: #e74c3c;
    color: white;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
    border: 1px solid #000000;
}

.read-back-button:hover {
    background-color: #c0392b;
}
