.update-animal-container {
    width: 50%;
    min-height: calc(100vh - 60px);
    margin: auto;
    padding: 30px;
    background-image: url('Container.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000000;
}

.update-animal-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #5654d4;
    font-family: 'Georgia', serif;
    text-shadow:
    1px 1px 0px #000,   
    -1px -1px 0px #000, 
    1px -1px 0px #000,  
    -1px 1px 0px #000;  
}

.update-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-animal-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.update-animal-form-group label {
    width: 40%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
    
}

.update-animal-form-group input[type="text"],
.update-animal-form-group input[type="date"] {
    flex-grow: 2;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: 1px solid #000000;
    
}

.update-animal-edit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    text-align: center;
    border: 1px solid #000000;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
}

.update-animal-edit-button:hover {
    background-color: #2980b9;
}

.update-animal-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.update-animal-submit-button,
.update-animal-back-button {
    padding: 8px 16px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    text-align: center;
}

.update-animal-submit-button {
    background-color: #3498db;
    color: white;
    border: 1px solid #000000;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
    
}

.update-animal-submit-button:hover {
    background-color: #3498db;
}

.update-animal-back-button {
    background-color: #e74c3c;
    color: white;
    border: 1px solid #000000;
    text-shadow:
    1px 1px 0px #000,   /* Sombra superior izquierda */
    -1px -1px 0px #000, /* Sombra inferior derecha */
    1px -1px 0px #000,  /* Sombra superior derecha */
    -1px 1px 0px #000;  /* Sombra inferior izquierda */
}

.update-animal-back-button:hover {
    background-color: #c0392b;
}
