.update-animal-container {
    width: 40%;
    min-height: calc(80vh - 40px);
    margin: 60px 380px;
    padding: 20px;
    background-color: rgba(245, 242, 242, 0.482);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update-animal-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
    color: #7c5656;
    font-family: 'Georgia', serif; 
}

.update-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-animal-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.update-animal-form-group label {
    width: 60%;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
    -webkit-text-fill-color: #4a2d2d; /* Color del texto */
}

.update-animal-form-group input[type="text"],
.update-animal-form-group input[type="date"] {
    width: 45%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: 1px solid #000000;
    
}

.update-animal-edit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #5a852f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    text-align: center;
    border: 1px solid #000000;
}

.update-animal-edit-button:hover {
    background-color: #5a852f;
}

.update-animal-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.update-animal-submit-button,
.update-animal-back-button {
    padding: 8px 16px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    text-align: center;
}

.update-animal-submit-button {
    background-color: #5a852f;
    color: white;
    border: 1px solid #000000;
    
}

.update-animal-submit-button:hover {
    background-color: #5a852f;
}

.update-animal-back-button {
    background-color: #da4131;
    color: white;
    border: 1px solid #000000;
}

.update-animal-back-button:hover {
    background-color: #da4131;
}

