
.update-animal-container {
    width: 50%;
    min-height: calc(100vh - 60px); /* Altura completa menos un margen opcional */
    margin: auto;
    padding: 30px;
    background-color: #e6f7ff; /* Fondo suave */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
}

.update-animal-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #2b3d4f; /* Color del título */
    font-family: 'Georgia', serif;
}

.update-animal-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre filas */
}

.update-animal-form-group {
    display: flex;
    align-items: center; /* Centra verticalmente cada fila */
    justify-content: space-between; /* Espacia las etiquetas y los inputs */
    width: 100%; /* Asegura que la fila ocupe todo el contenedor */
}

.update-animal-form-group label {
    width: 40%; /* Ajusta el ancho de las etiquetas */
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    color: #34495e; /* Color del texto */
}

.update-animal-form-group input[type="text"],
.update-animal-form-group input[type="date"] {
    flex-grow: 2;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7; /* Fondo por defecto */
}

.update-animal-form-group input[type="text"]:disabled,
.update-animal-form-group input[type="date"]:disabled {
    background-color: #e6e6e6; /* Fondo deshabilitado */
    cursor: not-allowed;
}

.update-animal-edit-button {
    display: block;
    margin: 20px auto; /* Centramos el botón horizontalmente */
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%; /* Ajusta el ancho del botón */
    text-align: center;
}

.update-animal-edit-button:hover {
    background-color: #2980b9;
}

.update-animal-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px; /* Aumenta el espacio entre los botones */
}

.update-animal-submit-button,
.update-animal-back-button {
    padding: 8px 16px; /* Reducir el tamaño del padding */
    font-size: 0.9rem; /* Reducir el tamaño del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%; /* Asegura que los botones tengan el mismo ancho */
    text-align: center;
}

.update-animal-submit-button {
    background-color: #2ecc71;
    color: white;
}

.update-animal-submit-button:hover {
    background-color: #27ae60;
}

.update-animal-back-button {
    background-color: #e74c3c;
    color: white;
}

.update-animal-back-button:hover {
    background-color: #c0392b;
}